<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Artigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="item | async as art">
<h2>{{ art.title }}</h2>
<div class="ion-text-end"><small>Em {{ art.date | date: 'dd/MM/yyyy h:m' }}</small></div>
<div [innerHTML]="art.text"></div>

<ion-button expand="block" routerLink="/">
  <ion-icon name="return-down-back" slot="start"></ion-icon>
  &nbsp;
  Voltar
</ion-button>




</ion-content>
