<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Quem Somos</h2>
  <center>Olá! Somos O Blue Sky!.</center>
  <figure>
    <img src="assets/bluesky.png" alt="Minha Figura">
    <figcaption></figcaption>
  </figure>
  <center>Um Aplicativo desenvolvido para o entreterimento no mundo da tecnologia</center>
<p>&nbsp;</p>

  <h3>Politica De Privacidade</h3>
  <figure>
    <img src="assets/pol.png" alt="Minha Figura">
    <figcaption></figcaption>
  </figure>
  <center>Política de Privacidade descreve como lidamos com as informações pessoais coletadas, usadas e compartilhadas quando um visitante ou cliente acessa a Blue Sky.</center>
  <p>&nbsp;</p>
</ion-content>

